# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book
_main*

# eBook build output
*.epub
*.mobi
*.pdf
.Rproj.user

# extra from rstudio/bookdown .gitignore
.DS_Store

# extra from rstudio/bookdown-demo
.Rhistory
.RData
_book
_bookdown_files
rsconnect
