# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by most, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book/
_bookdown_files/
_main.Rmd
_main.tex
_main.rds


# Ignore LaTeX and knitr temp files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.bbl
*.blg

# Ignore local preview files
*.DS_Store

# extra from rstudio/bookdown-demo
.Rhistory
.RData
.Rproj.user/

# Allow output files in docs/
!docs/
!docs/*.html
!docs/*.pdf
!docs/*.epub
!docs/_main_files/
